@{
    Layout = "_Layout";
}

<h3>Hi, hello @ViewBag.Name</h3>
<!-- <a href="/Home/Privacy">Privacy</a> -->
<!-- Privacy and Index are in the same directory -->
<a asp-action="Privacy"> Privacy </a> <br />
<a asp-action="Register"> Register </a>



