@model UserRegisterModel

<form asp-action="Register">
    <input asp-for="Username" placeholder="Username"/> <br />
    <input asp-for="Password" placeholder="Password" /> <br />
    <input asp-for="Birthdate" /> <br />
    <button type="submit">Register</button>
</form>
