@model IEnumerable<PlantTypeDisplayResponse>
<!-- list groups -->
<div class="list-group">

    @foreach (var item in Model)
    {
        <a asp-action="Index" asp-controller="Home" 
            asp-route-plantTypeId="@item.Id" class="list-group-item list-group-item-action">
            @item.Name
        </a>
    }
</div>
