@model PaginationPlantViewModel
@{
    ViewData["Title"] = "Home Page";
    var columnCount = 0;
}

<div class="row m-4">
    @foreach (var plantDisplay in Model.Plants)
    {
        @if (columnCount != 0 && columnCount % 4 == 0)
        {
            @:</div><div class="row m-4">
        }      
        <div class="col-3">
           <partial name="_PlantDisplay" model="plantDisplay"/>
        </div>
          columnCount++;
    }
</div>

<!-- pagination -->

<div page-action="Index" page-model="@Model.PagingInfo"></div>

@*<div>
    <ul class="pagination pagination-lg">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i==ViewBag.PageNo ? "active":"")">
                <a asp-action="Index" asp-route-pageNo="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
*@
